@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

$color1: #f2fbe0;
$color2: #dafeb7;
$color3: #acc18a;
$color4: #837a75;
$color5: #605b56;

body {
  background-color: $color2;
}

.to_do_list_container {
  margin: 50px auto;
  height: auto;
  width: 375px;
  background-color: $color4;
  border-radius: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Kanit";
  font-weight: 400;
  font-size: 50px;
  color: $color1;
}
form {
  display: flex;
  flex-direction: column;
}

.input_text {
  margin: 20px 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
button {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $color3;
}
.button_add {
  align-self: center;
  color: $color5;
}
.button_delete {
  color: red;
  padding: 5px 10px;
  font-size: 16px;
}

li {
  background-color: $color2;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: stretch;
  width: 300px;
  margin: 10px auto 10px -10px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 25px;
  width: 25px;
  background-color: red;
  &:checked {
    background-color: green;
  }
}
.taskUncompleted {
  text-align: center;
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
  color: $color5;
  margin: auto;
}
.taskCompleted {
  text-align: center;
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
  margin: auto;
  color: green;
}

.avertissement {
  font-weight: bolder;
  color: $color2;
  text-align: center;
}
